/* =WordPress Core  */


@font-face {
  font-family: 'RecifeDisplay-Light';
  src: url('fonts/fontInUsev/RecifeDisplay-Light.otf'),
      url('fonts/fontInUsev/RecifeDisplay-Light.ttf'),
      url('fonts/fontInUsev/RecifeDisplay-Light.woff'),
      url('fonts/fontInUsev/RecifeDisplay-Light.woff2');
}


@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Bd.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-BdIt.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Blk.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-BlkIt.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Hv.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-HvIt.otf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-It.otf');
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Lt.otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-LtIt.otf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Md.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-MdIt.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-Th.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-ThIt.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-UltLt.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-UltLtIt.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('fonts/fontInUsev/HelveticaNeueLTPro-It.otf');
  font-style: italic;
  font-weight: normal;
}


.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }
  @media screen and (max-width: 700px) {
	.alignright {
	  float: none;
	  margin-right: 0;
	  display: block;
	  margin: 0 auto; } }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }
  @media screen and (max-width: 700px) {
	.alignleft {
	  float: none;
	  margin-right: 0;
	  display: block;
	  margin: 0 auto; } }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.sticky,
.gallery-caption,
.bypostauthor {
  display: block; }

.editor-content p {
  margin: 0 0 1.44em 0; }

.editor-content ul, .editor-content ol {
  margin-top: 0;
  margin-bottom: 1.44em; }

.editor-content > *:last-child {
  margin-bottom: 0; }

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.66em; }

.container-fluid {
  width: 100%;
  max-width: 1170px; }

/*# sourceMappingURL=app.css.map */
