.repeater-columns {
    position: relative;
    background: var(--gradient);
    margin-top: var(--margins-top--mobile);
    margin-bottom: var(--margins-bottom--mobile);
    padding-top: var(--paddings-top--mobile);
    padding-bottom: var(--paddings-bottom--mobile);

    @media (min-width: 767.98px) {
        margin-top: var(--margins-top);
        margin-bottom: var(--margins-bottom);
        padding-top: var(--padding-top);
        padding-bottom: var(--paddings-bottom);
    }

    .container {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .columns {
        display: grid;
        grid-auto-flow: column;
        gap: 32px;

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
            grid-auto-flow: unset;
        }
    }

    .column {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    .text {
        margin-top: 120px;
    }

    h2.title {
        text-align: center;
        color: #000;
        font-family: RecifeDisplay;
        font-size: 42px;
        font-weight: 300;
        line-height: 150%;
    }

    .subtitle {
        color: #000;
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        line-height: 160%;
    }

    .content {
        padding: 20px 0;
    }
}
