.split-columns-content {
    position: relative;
    z-index: 100;
}

.h2-font-size {
    font-weight: 300;
    line-height: 110%;

}

.mobile_image_bottom {
    @media screen and (max-width:768px) {
        order: 2;
    }
}

.sFlexContent {
    &.sFlex-2-3 {
        &.mobile_image_position_bottom {
            margin-bottom: 80px;
            margin-top: 0;
        }
    }

    .sticky_bg {
        position: sticky;
        bottom: 0;
        height: 30vh;
        width: 100%;
        background: linear-gradient(0deg, rgb(247 247 247) 50%, rgba(255, 255, 255, 0));
        display: flex;
        margin-bottom: -30vh;
    }

    &.veritcal_slider_container {
        position: relative;
        min-height: 400px;


        .flexContentSlider {

            @media screen and (min-width:768px) {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
            }

            .sFlexContent-inner {
                margin-bottom: 80px;
            }

            .h2-font-size {
                margin-bottom: 16px;
            }

            .h4-font-size {
                margin-bottom: 20px;
            }
        }
    }

    .sButton {
        &.lightFont {
            border-color: #404040;
            font-family: 'HelveticaNeueLTPro';
            color: #BFBFBF;

            &:hover {
                color: #E0E0E0;
                border-color: #E0E0E0;
            }
        }
    }

    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }

    .buttonsWrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1%;
        row-gap: 1vh;
        align-items: center;
        width: 100%;
        max-width: 450px;
        margin-top: 50px;

        &.buttonsWrapCenter {
            justify-content: center;
        }
    }
}

.mainImg {
    border-radius: 8px;
    box-shadow: 0px 110px 150px -110px rgb(0 0 0 / 62%);
    display: none;

    @media screen and (min-width:768px) {
        display: block;
    }

    &.shadow_1 {
        box-shadow: none;
    }

    &.main_img_mobile {
        display: block;

        @media screen and (min-width:768px) {
            display: none;
        }
    }
}

.swiper-overcontainer {
    @media screen and (min-width:768px) {
        overflow: hidden;
    }
}

.swiper-slide {
    .h2-font-size {
        color: #000;
        font-style: normal;
        font-weight: 300;
        line-height: 110%;
    }
}


.sFlex-wrapper {
    .sFlexContent.sFlex-2-3 {
        @media screen and (max-width: 768px) {
            padding: 0 28px;
        }
    }

    .style2 {
        color: #000;
        font-family: RecifeDisplay, serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    .h2-font-size {
        @media screen and (max-width: 768px) {
            font-size: 34px;
        }
    }

    .h4-font-size {
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }

    h2 {
        color: #000;
        // font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        margin-bottom: 34px;

        @media screen and (max-width:768px) {
            margin-bottom: 20px;
        }
    }

    h2.h2title {
        color: #000;

        /* Heading - H2 */
        font-size: 42px;
        font-family: RecifeDisplay;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    &.sFlex-parent {
        &.sFlex-center {}

        .sFlexContent {
            .sFlexContent-inner {
                padding: 0;
            }
        }

        .sFlex-bottom-parent {
            margin-bottom: 0;
        }

        .corner_image {
            position: absolute;
            top: -120px;
            right: 0;
            transform: translate(160%, 0);
            max-width: 309px;

            @media screen and (max-width:1700px) {
                transform: translate(120%, 0);
            }

            @media screen and (max-width:768px) {
                display: none;
            }
        }

        .strike_1:after {
            content: close-quote;
            position: absolute;
            width: 130.108px;
            height: 1px;
            background: #c6b386;
            bottom: 70px;
            right: -30px;
            transform: rotate(135deg);

            @media screen and (max-width:768px) {
                display: none;
            }
        }
    }

    .swiper {
        width: 100%;
    }



    .swiper-wrapper {
        @media screen and (max-width:768px) {
            flex-direction: column;
            display: flex;
        }
    }

    .swiper-slide {
        @media screen and (min-width:768px) {
            // opacity: .4;
        }

        transition: opacity .6s;
    }

    .swiper-slide.swiper-slide-active {
        // opacity: 1;
    }
}