.h2-font-size {
    font-size: 42px;
    font-weight: 300;
    line-height: 110%;
}

.mainImg {
    border-radius: 8px;
}

.sFlex-wrapper {

    &.sFlex-parent {
        &.sFlex-center {}

        .sFlexContent {
            .sFlexContent-inner {
                padding: 0;
            }
        }

        .sFlex-bottom-parent {
            margin-bottom: 0;
        }
    }

    .swiper {
        width: 100%;
    }

    .flexContentSlider {
        overflow: visible;
        max-height: 400px;

        @media screen and (max-width:768px) {
            max-height: unset;
        }
    }

    .swiper-wrapper {
        @media screen and (max-width:768px) {
        flex-direction: column;
        display: flex;
        }
    }

    .swiper-slide {
        @media screen and (min-width:768px) {
        opacity: .4;
        }
        transition: opacity .6s;
    }

    .swiper-slide.swiper-slide-active {
        opacity: 1;
    }
}