body {
  background: $dark2;

  &.element-blured {
    overflow: hidden;
  }
}

#main {
  &.element-blured {
    filter: blur(5px);
  }
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
