// Theme colors
$blue: #003d70;
$dark: #0d0d0d;
$dark2: #222;
$dark3: #151515;
$dark4: #0f0f0f;
$light: #c9c9c9;
$light2: #d9d9d9;
$white: #fff;
$black: #000;
$gray: #818181;
$gray2: #404040;
$gray3: #e0e0e0;
$gray4: #606060;
$gray5: #3e3e3e;
$gray6: #989898;
$gold: #f1d593;
$main-green: #007953;
$green: #219963;
$heading-color: #3a4454;

// Fonts
$font-helvetica: "HelveticaNeueLTPro";
$font-recife: "RecifeDisplay-Light";

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1200px,
) !default;
