.form-tabs {
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__title {
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		max-width: 644px;
		margin: 0 auto 60px;
		color: #3a4454;
		text-align: center;

		@media (max-width: 575.98px) {
			max-width: 300px;
			font-size: 32px;
			line-height: 100%;
		}
	}


	&__triggers {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 48px;

		@media (max-width: 767.98px) {
			overflow-x: auto;
			margin: 0 -16px;
			padding: 0 16px;
			justify-content: start;
			padding-bottom: 15px;
			margin-bottom: 10px;
		}
	}

	&__trigger {
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 15px 32px;
		background: transparent;
		border: 1px solid #a5adb4;
		border-radius: 50px;
		font-weight: 700;
		font-size: 16px;
		line-height: 110%;
		color: #708090;
		transition: 0.3s;
		height: 48px;

		@media (max-width: 767.98px) {
			white-space: nowrap;
		}

		&:hover {
			color: #586572;
			border-color: #899095;
		}

		&.active {
			background: #219963;
			color: #ffffff;
		}
	}

	&__trigger + &__trigger {
		margin-left: 16px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		display: none;

		&.active {
			display: flex;
		}

		@media (max-width: 767.98px) {
			margin-top: 34px;
		}
	}

 
	 
}


form.form-main {
	max-width: 1220px;
    padding: 0 120px;
    display: flex;
    flex-wrap: wrap;
}

label.control-label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
/* identical to box height, or 15px */


/* Grey Text 1 */
    color: #3A4454;
}

.form-control {
    height: 48px;
    background: #FFFFFF;
	width: 100%;
    border: 1px solid #A5ADB4;
    border-radius: 5px;
	padding: 0 1rem;
}

.form-group {
    display: grid;
    gap: 20px;
    width: 50%;
    padding: 12px;
	&.group-100{
		width: 100%;
	}
	&.group-70{
		width: 70%;
	}
	&.group-30{
		width: 30%;
	}
	&.group-33{
		width: 33.33%;
	}
}

.submit {
	display: inline-block;
    padding: 15px 32px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: #fff;
    transition: 0.3s;
    height: 48px;
    background: #219963;
    width: auto;
    max-width: 214px;

		@media (max-width: 767.98px) {
			white-space: nowrap;
		}

		&:hover {
			color: #586572;
			border-color: #899095;
		}

}
