* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'RecifeDisplay-Light';
  src: url('../webfonts/RecifeDisplay-Light.otf'),
    url('../webfonts/RecifeDisplay-Light.ttf'),
    url('../webfonts/RecifeDisplay-Light.woff'),
    url('../webfonts/RecifeDisplay-Light.woff2');
}


@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Bd.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-BdIt.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Blk.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-BlkIt.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Hv.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-HvIt.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-It.otf');
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Lt.otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-LtIt.otf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Md.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-MdIt.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Roman.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-Th.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-ThIt.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-UltLt.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-UltLtIt.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../webfonts/HelveticaNeueLTPro-It.otf');
  font-style: italic;
  font-weight: normal;
}

body{
  font-family: 'HelveticaNeueLTPro';
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h2 {
  font-size: 42px;
  line-height: 125%;
  font-weight: 300;

}


#main {
  background-color: #fff;
  overflow: clip;
}

body {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.66em;
}

h2 {
  font-size: 28px;

  @media screen and (max-width:768px) {
    font-size: 24px;
  }
}

body,
textarea,
input {
  padding: 0;
  margin: 0;
  font-family: 'HelveticaNeueLTPro';
}

img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  background-color: $white;
  margin: auto;

  @include media-breakpoint-up(xxl) {
    max-width: 1320px;
  }
}

/********** Template CSS **********/
:root {
  --primary: #2124b1;
  --secondary: #4777f5;
  --light: #f7faff;
  --dark: #1d1d27;

  --main-Black-S: #313131;
  --main-Gray-S: #606060;
  --main-Gold-S: #f1d593;
  --white: #fff;
  --background-Black-S: #222;

  /*color texts*/
  --body-Text-S: #313131;
  --light-Gray-S: #e0e0e0;
  --lines-S: #d8d8d8;
}

.headingRecife-Parent .h1-font-size,
.headingRecife-Parent .h2-font-size,
.headingRecife-Parent .h3-font-size,
.headingRecife {
  font-family: 'RecifeDisplay-Light';
  font-weight: 300;
}

.darkFont,
.darkFont h1,
.darkFont h2,
.darkFont h3,
.darkFont h4,
.darkFont h5,
.darkFont h6,
.darkFont li,
.darkFont span,
.darkFont p {
  color: var(--body-Text-S);
}

.lightFont,
.lightFont h1,
.lightFont h2,
.lightFont h3,
.lightFont h4,
.lightFont h5,
.lightFont h6,
.lightFont p,
.lightFont li {
  color: var(--light-Gray-S);
}

.goldenLink,
p.goldenLink,
a.goldenLink,
.goldenLink p,
.goldenLink a,
h4.goldenLink,
h5.goldenLink,
h6.goldenLink {
  color: #C6B386;
  text-decoration: none;
}

.goldenLink-404 {
  display: flex;
  justify-content: center;
  gap: 5.37px;
  align-items: center;

  color: #C6B386;
  text-align: right;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;

  .chevron {
    display: inline-flex;
    margin-top: -2px;
    width: 14.36px;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 20px;
      
    }

    * {
      stroke-width: 0.3px;
      stroke: #C6B386;
    }
  }

}

section.hero-Parent.section-404 {
  .hero-Flex {
    padding: 160px 10px 294px;

    min-height: 0;
    max-width: 1020px;

    .h1-404 {
      color: #222;
      text-align: center;
      font-size: 70px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      margin-bottom: 35px;

      @media screen and (max-width:768px) {

        font-size: 45px;
        font-style: normal;
        font-weight: 300;
        line-height: 115%;

      }
    }
  }
}




.headingRecife-Parent .h1-font-size,
.headingRecife-Parent .h2-font-size,
.headingRecife-Parent .h3-font-size,
.headingRecife {
  // font-family: 'RecifeDisplay-Light',serif;
  font-family: 'RecifeDisplay-Light';

}

img {
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  line-height: 100%;
}

.link-no-underline {
  text-decoration: none;
  color: #219963;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
strong a {

  text-decoration: none;
}

.overflowHidden {
  overflow: hidden;
}

.fontWeight700,
.fontWeight700 h1,
.fontWeight700 h2,
.fontWeight700 h3,
.fontWeight700 h4,
.fontWeight700 h5,
.fontWeight700 h6,
.fontWeight700 p {
  font-weight: 700;
}

.fontWeight500,
.fontWeight500 h1,
.fontWeight500 h2,
.fontWeight500 h3,
.fontWeight500 h4,
.fontWeight500 h5,
.fontWeight500 h6,
.fontWeight500 p {
  font-weight: 500;
}

.fontWeight400,
.fontWeight400 h1,
.fontWeight400 h2,
.fontWeight400 h3,
.fontWeight400 h4,
.fontWeight400 h5,
.fontWeight400 h6,
.fontWeight400 p {
  font-weight: 400;
}

.fontWeight300,
.fontWeight300 h1,
.fontWeight300 h2,
.fontWeight300 h3,
.fontWeight300 h4,
.fontWeight300 h5,
.fontWeight300 h6,
.fontWeight300 p {
  font-weight: 300;
  letter-spacing: .8px;
}

.font-weight200 {
  font-weight: 200;
}

.spacingletters-for-thin p {
  letter-spacing: 0.75px;
}


/*background divs*/
.darkBackground {
  background-color: var(--background-Black-S);

  .lightFont,
  .lightFont h1,
  .lightFont h2,
  .lightFont h3,
  .lightFont h4,
  .lightFont h5,
  .lightFont h6,
  .lightFont p,
  .lightFont li {
    color: var(--light-Gray-S);
  }

  svg {
    stroke: #fff;
    max-width: 6px;
    margin-top: 3px;

    * {
      stroke: #fff;
    }
  }
}

.lightBackground {
  background-color: #fff;

  .lightFont,
  .lightFont h1,
  .lightFont h2,
  .lightFont h3,
  .lightFont h4,
  .lightFont h5,
  .lightFont h6,
  .lightFont p,
  .lightFont li {
    color: var(--body-Text-S);
  }

  svg {
    stroke: #000;
    max-width: 5px;

    * {
      stroke: #000;
    }
  }

}

/*Mobile heading and content*/
.h0-font-size {
  font-size: 40px;

  @include media-breakpoint-up(md750) {
    font-size: 70px;
  }
}

.h1-font-size {
  margin-bottom: 25px;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  margin-top: 0;

  @include media-breakpoint-up(md750) {
    font-size: 70px;

    font-weight: 300;
    line-height: 80px;
    letter-spacing: 0em;
  }
}

.h2-font-size {
  font-size: 28px;

  @include media-breakpoint-up(md750) {
    font-size: 42px;
  }
}

.h3-font-size {
  font-size: 32px;

  @include media-breakpoint-up(md750) {
    font-size: 35px;
  }
}

.h4-font-size {
  font-size: 20px;

  @include media-breakpoint-up(md750) {
    font-size: 28px;
  }
}

.h5-font-size {
  font-size: 20px;
  line-height: 150%;

  @include media-breakpoint-up(md750) {
    font-size: 24px;
  }
}

.h6-font-size {
  font-size: 18px;
  line-height: 150%;

  @include media-breakpoint-up(md750) {
    font-size: 20px;
  }
}

.h0-font-size,
.h2-font-size,
.h3-font-size,
.h4-font-size,
.h5-font-size,
.h6-font-size {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  line-height: 110%;
}

p,
li {
  line-height: 150%;
  color: var(--greyText1);
}

.center-align {
  text-align: center;
}

.paddingleftright15 {
  padding-left: 15px;
  padding-right: 15px;
}

.paddingtopbottom130-c {
  padding-top: 130px;
  padding-bottom: 130px;
}

.paddingtopbottom100-c {
  padding-top: 100px;
  padding-bottom: 100px;
}

.paddingtopbottom50-c {
  padding-top: 50px;
  padding-bottom: 50px;
}

.paddingtopbottom50 {
  padding-bottom: 50px;
}

.spacingBottom140px {
  padding-top: 60px;
  padding-bottom: 60px;
}



.main-footer .buttonsWrap {
  column-gap: 4vh;
}

.sButton {
  padding: 0 10px 10px;
  font-size: 17px;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  opacity: 1;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 300;
  transition: all 0.4s ease-out;
  color: #606060;

  img {
    width: 7px;
  }

  &+img {
    width: 7px;
  }

  span {
    margin-top: 5px;
    display: flex;
    gap: 12px;
  }

  &:hover {
    opacity: .7;
  }

  &.sButton-fullwidth {
    width: 100%;

    &.sButton-right {
      justify-content: flex-end;
      border-bottom: 1px solid;
    }
  }
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  isolation: isolate;

  input,
  textarea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    /* width: 560px; */
    /* height: 72px; */
    background: #0F0F0F;
    border: 1px solid #3E3E3E;
    border-radius: 4px;
  }
}

form button,
.formButton {
  border-radius: 8px;
  border: 1px solid var(--main-gray, #606060);

  padding: 20px 40px;
  font-size: 24px;
  background-color: transparent;
  border-radius: 7px;
  color: var(--light-Gray-S);
  text-decoration: none;
  transition: border-color .6s;
  cursor: pointer;

  &:hover {
    border-color: #fff;
  }

  span {
    margin-bottom: 3px;
    display: block;
    font-size: 18px;

  }
}

.buttonsWrap.buttonsWrapFooter {
  flex-wrap: nowrap;
  column-gap: 0;

  .sButton.sButton-fullwidth.sButton-right {
    border-bottom: 0;
  }
}

.checkboxContainer,
.radioboxContainer {
  margin: 1rem 0;
  display: flex;
  align-items: center;

  span {
    margin-left: 1rem;
    font-weight: 500;
  }
}

.check-input,
.radio-input {
  display: none;
}

.checkbox {
  border-radius: 4px;
}

.radiobox {
  border-radius: 50%;

  &:before {
    border-radius: 50%;
  }
}

.checkbox,
.radiobox {
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s all;

  &:before {
    content: "";
    background: #fff0;
    position: absolute;
    border-radius: 3px;
    display: block;
    width: 16px;
    height: 16px;
    transition: all 0.4s ease-out;
  }
}

.check-input:checked+.checkbox:before,
.radio-input:checked+.radiobox:before {
  background: #fff;
}

/***Hero***/
.lightBackground {
  background-color: #fff;

  .breadcrumbs-parent .breadcrumbs a {
    // color: #313131;
  }
}

.darkBackground {
  background-color: var(--background-Black-S);

  .breadcrumbs-parent .breadcrumbs a {
    // color: #313131;
  }
}

.heavyDarkBackground {
  background-color: #141414;

  .breadcrumbs-parent .breadcrumbs a {
    color: #313131;
  }
}

#breadcrumbs {
  color: #8D8D8D;
  font-family: 'HelveticaNeueLTPro';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;

  a {
    color: #8D8D8D;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    line-height: 130%;

  }
}

span.breadcrumb_last {
  color: #fff;
}

.lightBackground {
  #breadcrumbs {
    color: #8D8D8D;

    a {
      color: #8D8D8D;
    }

    .breadcrumb_last {
      color: #313131;
    }
  }
}



.breadcrumbs-parent {
  padding: 14px 20px;
  flex: 1 0 100%;
  max-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    column-gap: 10px;
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    color: #313131;

    a {
      color: #8D8D8D;
    }
  }
}



.container-1024 {
  margin: 0 auto;
  max-width: 1024px;
}

.container-640 {
  margin: 0 auto;
  max-width: 640px;
}

section.hero-Parent {
  width: 100%;
  position: relative;

  &.enable_bg__gradient_shadow_1 {
    &:after {
      background: radial-gradient(60.52% 73.52% at 47.74% 11.06%, #383838 0%, #141414 81.96%);
      width: 50%;
      flex-shrink: 0;
      position: absolute;
      top: -80px;
      right: 0;
      content: close-quote;
      z-index: 1;
      height: 70%;

      @media screen and (max-width:768px) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .container {
    position: relative;
    z-index: 12;
  }

  .hero-Flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
    padding: 163px 0 190px;

    @media screen and (max-width:768px) {
      padding: 82px 0 260px;
    }
  }
}

/***Main Heading***/
.main-heading-parent {
  overflow: hidden;

  .main-heading-inner {
    margin: 376px 0 30px;
    padding: 0 10px;

    @media screen and (max-width:1200px) {
      margin: 200px 0 0;
    }
    @media screen and (max-width:768px) {
      margin: 200px 0 118px;
    }
  }
}


/***Image content - section***/
.sFlex-wrapper {
  margin: 0 auto;
  max-width: 90%;

  * {
    margin-top: 0;

  }


  &.sFlex-parent {
    // display: flex;
    // justify-content: center;
    align-items: center;
    // flex-direction: column;
    // column-gap: 118px;
    position: relative;
    z-index: 1;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-top: -1px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (max-width:1200px) {
      // column-gap: 118px;
    }

    @include media-breakpoint-up(md750) {
      flex-direction: row;

      &.sFlex-reverse {
        .sFlexImg.sFlex-1-3{
          grid-column: 3/span 2;
          order: 1;
        }
        .sFlexContent.sFlex-2-3{
          grid-column: 1/span 2;
        }
       
      }
    }


    &.sub_top-left {
      .sFlexContent{
        @media screen and (max-width:768px) {
          margin-top: 30px;
       }
      }
    }

    &.enable_bg_gradient_shadow_1 {
      &:after {
        background: radial-gradient(60.52% 63.52% at 47.74% 50.06%, #383838 0%, #14141400 81.96%);
        width: 50%;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -100%);
        content: close-quote;
        z-index: 1;
        height: 60%;
        opacity: .5;
      }

      .sFlexImg {
        z-index: 20;
      }

      .sFlexContent {
        z-index: 20;
      }
    }

    &.sFlex-start {
      align-items: flex-start;
    }

    &.sFlex-end {
      align-items: flex-end;
    }

    &.sFlex-reverse {
      .sFlexImg.sFlex-1-3 {
        @media screen and (max-width:769px) {
          transform: translate(50px, 0px);
          justify-content: flex-end;
        }
      }

      .sFlexContent-inner.maxwidth-shortcontent {
        margin: 0 auto 0 0;
      }
      
    }

    .sFlexImg.sFlex-1-3 {
      position: relative;
      // flex: 1 0 50%;
      display: flex;
      justify-content: center;
      grid-column: 1 / span 2;

      @media screen and (max-width:769px) {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        transform: translate(-50px, 0px);
        grid-column: 1/span 4;
      }

      .subImg {
        position: absolute;
        object-fit: cover;
        object-position: center;


        &.top-left {
          left: -100px;
          top: -95px;
          max-width: 60%;

          @media screen and (max-width:768px) {
            left: -200px;
            top: -145px;
            max-width: 460px;
          }
        }

        &.bottom-left {
          left: -100px;
          bottom: -220px;
          max-width: 60%;

          @media screen and (max-width:768px) {
            left: -200px;
            bottom: -277px;
            max-width: 550px;
          }

          &.image_size_type_medium {
            max-width: 420px;
            left: -90px;
            bottom: -200px;
          }
        }

        &.bottom-right {
          right: 0;
          bottom: -97px;
          max-width: 60%;

          @media (min-width: 767.98px) {
            right: -100px;
          }

        }

        &.top-right {
          right: 0;
          top: -95px;
          max-width: 60%;

          @media (min-width: 767.98px) {
            right: -100px;
          }
        }

        &.frontShow {
          z-index: 1;
        }



      }

      .mainImg {
        max-width: 632px;
        position: relative;
        width: 100%;

        @media screen and (max-width:768px) {
          max-width: 380px;
        }
      }
    }

    .sFlex-bottom-parent {
      margin-bottom: 95px;
    }

    .sFlex-top-parent {
      margin-top: 175px;
    }

    .sFlexContent {
      margin-top: 20px;

      @media screen and (max-width:768px) {
         margin-top: 150px;
      }

      &.sFlex-2-3 {
        // flex: 1 0 50%;
        grid-column: 3 / span 2;
        @media screen and (max-width:768px) {
          grid-column: 1/span 4;
        }
      }

      .maxwidth-shortcontent {
        @media screen and (min-width:768px) {
        max-width: 500px;
        width: 80%;
        margin: 0 auto;
        }
      }

      .sFlexContent-inner {
        padding: 30px 0;
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:768px) {
          // max-width: 330px;
        }

        &>* {
          // margin-bottom: 20px;
        }

        p {
          font-size: 18px;
          margin-bottom: 1rem;
        }
      }
    }

    &.showBigFirstHeading {

      & .sFlexContent-inner>* {
        order: 10;
      }

      .h2-font-size {
        order: 1;
      }

      .h4-font-size {
        order: 2;
      }
    }

    &.showSmallFirstHeading {

      & .sFlexContent-inner>* {
        order: 10;
      }

      .h2-font-size {
        order: 2;
      }

      .h4-font-size {
        order: 1;
      }
    }
  }
}


.circle-effects {
  position: absolute;
  top: 0;
  left: 0;
  &.circle-single{
      .goldCircle1 {
        position: absolute;
        top: 70px;
        left: 253px;
        display: flex;
        max-width: 40px;
      
        @include media-breakpoint-up(md750) {
          top: -120px;
          left: 430px;
        }
      
        @include media-breakpoint-up(des1150) {
          top: -120px;
          left: 580px
        }
    }
  }
}

img.darkCircle1 {
  position: absolute;
  max-width: 390px;

  top: -140px;
  left: -100px;

  @include media-breakpoint-up(md750) {
    top: -300px;
    left: 120px;
  }

  @include media-breakpoint-up(des1150) {
    top: -300px;
    left: 160px;
  }
}

img.goldCircle1 {
  position: absolute;
  top: 70px;
  left: 253px;
  display: flex;
  max-width: 40px;

  @include media-breakpoint-up(md750) {
 
    top: 0px;
    left: 450px;

  }

  @include media-breakpoint-up(des1150) {
    top: 0px;
    left: 500px
  }
}

span.shadow-circle {
  width: 170px;
  height: 170px;
  display: block;
  position: absolute;
  top: 1vw;
  left: -20px;
  border-radius: 1000px;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgb(49 49 49 / 0%) 60%);
  opacity: 0.2;
}

.circle-effect-singl-small {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 630px;
}

.goldCircle-solo {
  position: absolute;
  left: 35%;
  top: -135px;

  @include media-breakpoint-up(md750) {
    top: 0px;
  }
}







/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Heading ***/


/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: var(--light) !important;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
  color: $white;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: $white;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid $gray;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }

  .navbar-light .navbar-brand h1 {
    color: var(--primary);
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {

  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;*/
  }

  ::-webkit-scrollbar {
    width: 6px;

  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f1f1f1;
  }

  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: $white;
  }

  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--secondary);
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-light .navbar-brand h1 {
    color: var(--primary);
  }
}

/***HERO***/



/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--dark);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: var(--dark);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: $darkBlue;
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}

/*** Service ***/
.service-item {
  position: relative;
  height: 350px;
  padding: 30px 25px;
  background: $white;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: url("../../dist/img/icon-shape-primary.webp") center center no-repeat;
  transition: 0.5s;
}

.service-item:hover .service-icon {
  color: var(--primary);
  background: url("../../dist/img/icon-shape-white.webp");
}

.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: var(--light);
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--primary);
  transition: 0.5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: var(--primary);
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: $gray;
  transition: 0.5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: var(--light);
}

/*** Testimonial ***/
.newsletter,
.testimonial {
  background: url("../../dist/img/bg-top.webp"),
    url("../../dist/img/bg-bottom.webp");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--light) !important;
  border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: $darkGray;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
  color: var(--dark) !important;
}

/*** Team ***/
.team-item {
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

.team-item::after {
  position: absolute;
  content: "";
  top: 3rem;
  right: 3rem;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: $white;
  box-shadow: 0 0 45px $boxShadow;
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover::after {
  background: var(--primary);
}

.team-item h5,
.team-item small {
  transition: 0.5s;
}

.team-item:hover h5,
.team-item:hover small {
  color: var(--light);
}

/*** Project Portfolio ***/
#portfolio-flters .btn {
  position: relative;
  display: inline-block;
  margin: 10px 4px 0 4px;
  transition: 0.5s;
}

#portfolio-flters .btn::after {
  position: absolute;
  content: "";
  right: -1px;
  bottom: -1px;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid $white;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
  color: var(--light);
  background: var(--primary);
}

.portfolio-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  background: var(--primary);
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item .btn {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/icon-shape-white.png) center center no-repeat;
  border: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.portfolio-item:hover .btn {
  opacity: 1;
  transition-delay: 0.15s;
}



/*** Footer ***/
.main-footer {
  padding: 0 5px;
  background-color: var(--background-Black-S);
  overflow: hidden;
  position: relative;

  .footer-background-image {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .footer-inner {
    margin-top: 130px;
    margin-bottom: 50px;

    h5 {
      margin-bottom: 60px;
    }

    h6 {
      margin-bottom: 50px;
    }

    .footer-bottom-img {

      @include media-breakpoint-down(md750) {
        margin-top: 180px;
      }

      @include media-breakpoint-up(md750) {
        margin-top: 20vh;
      }

      img {
        width: 100%;
      }

    }
  }

  .footer-bottom {
    padding: 20px;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .footerMenu {
      margin: 20px 0 10px 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 13px;
      max-width: 470px;

      li {
        position: relative;

        &:before {
          position: absolute;
          right: -12px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #fff;
          content: "";
        }

        &:last-of-type:before {
          display: none;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  .sButton {

    &:hover {
      color: var(--light-Gray-S);
    }
  }

  .copyright-part {
    margin: 10px 0 20px 0;
    max-width: 500px;
    text-align: center;
  }
}







.footer {
  background: url("../../dist/img/footer.webp") center center no-repeat;
  background-size: contain;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid $borderTop;
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid $borderRight;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.br_mobile {

  @media screen and (max-width:768px) {
    display: flex;
  }
}