.columns-menu {
    position: relative;

    background: var(--gradient);

    margin-top: var(--margins-top--mobile);
    margin-bottom: var(--margins-bottom--mobile);
    padding-top: var(--paddings-top--mobile);
    padding-bottom: var(--paddings-bottom--mobile);

    @media (min-width: 767.98px) {
        margin-top: var(--margins-top);
        margin-bottom: var(--margins-bottom);
        padding-top: var(--padding-top);
        padding-bottom: var(--paddings-bottom);
    }

    .container {
        max-width: 1220px;
        padding: 0 20px;
        margin: 0 auto;
    }

    img {
        border-radius: 8px;
    }

    .columns {
        display: grid;
        grid-template-columns: .9fr 1fr;
        padding: 0 0 300px;

        @media screen and (max-width:768px) {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    .column.images {
        position: relative;
        z-index: 11;
    }

    .second_image {
        position: absolute;
        bottom: -40%;
        left: -38%;
        max-width: 500px;
        z-index: 1;
        width: 100%;

        @media screen and (max-width:768px) {
            max-width: 70vw;
            left: -25%;
            bottom: -18%;
        }
        img {
            width: 100%;
        }

        &.second_image_horizontal_position_right {
            left: auto;
            right: -20%;
            bottom: -22%;
            max-width: 70%;

            @media screen and (max-width:768px) {
                left: auto;
                right: 0%;
            }
        }
    }

    .first_image {
        position: relative;
        z-index: 2;
        max-width: 85%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }


    .first_image img {
        border-radius: 8px;
        box-shadow: 0 100px 160px -110px #00000082;
    }

    ul.slides {
        list-style: none;
        padding: 0;
        margin: 0;

        @media screen and (max-width:768px) {
            padding: 0 20px;

        }

        a {
            color: #949494;
            font-family: Helvetica Neue LT Pro, sans-serif;
            font-size: 42px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            text-decoration: none;
            transition: all .6s;

            @media screen and (max-width:768px) {
                font-size: 32px;
                font-style: normal;
                font-weight: 300;
                line-height: 180%;
            }

        }
    }

    .columns {
        gap: 170px 60px;

        &.second_image_horizontal_position_right {
            gap: 170px 160px;
        }
    }

    .menu_items {
        display: grid;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    ul.slides a {
        position: relative;

        &:hover {
            color: var(--body-text, #313131);

            &:after {
                opacity: 1;
            }
        }
    }

    ul.slides a:after {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(100% + 18px);
        background: #C6B386;
        width: 172px;
        height: 1px;
        opacity: 0;
        display: block;
        transition: all .6s;
    }
}