body.login {
  background: linear-gradient(
    45deg,
    rgb(4 66 241) 0%,
    rgb(89 73 224) 61%,
    rgb(26 23 212) 100%
  );
}

body.login div#login h1 a {
  background-image: url(../img/login-image.png);
  height: 80px;
  width: 150px;
  background-size: 150px;
}

.login #backtoblog a,
.login #nav a,
.privacy-policy-link {
  color: #fff;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.privacy-policy-link:hover {
  color: #1941d3;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: #2b8ef4;
  border-color: #2b8ef4;
}

.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
  border-color: #1941d3;
  color: #1941d3;
}

.wp-core-ui .button-primary {
  background: #2b8ef4;
  border-color: #2b8ef4;
  color: #fff;
}

.wp-core-ui .button-primary:hover {
  background: #1941d3;
  border-color: #1941d3;
  color: #fff;
}

.language-switcher label .dashicons {
  color: #fff;
}

input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: #2b8ef4;
  box-shadow: 0 0 0 1px #2b8ef4;
}

input[type="checkbox"]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%232b8ef4%27%2F%3E%3C%2Fsvg%3E");
}
